---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1510%20Blake%20St%20Denver%20CO&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1510",
                       "short_name" : "1510",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Blake Street",
                       "short_name" : "Blake St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "LoDo",
                       "short_name" : "LoDo",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "De[...]
- request:
    method: get
    uri: https://api.uber.com/v1/estimates/time?server_token=W8mj7gOB352uCkBNL6GvvK4YyC-RoUc__M10whtP&start_latitude=&start_longitude=-105.0001058
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Uber-App:
      - uberex-nonsandbox
    body:
      encoding: UTF-8
      string: '{"fields":{"start_latitude":"Latitude must be a float for dictionary
        value"},"message":"Invalid request","code":"validation_failed"}'
  recorded_at: Thu, 16 Oct 2014 09:15:19 GMT
recorded_with: VCR 2.9.3
