---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1510%20Blake%20St%20Denver%20CO%2080202&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1510",
                       "short_name" : "1510",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Blake Street",
                       "short_name" : "Blake St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "LoDo",
                       "short_name" : "LoDo",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "De[...]
