
<div class="welcome">
  </br>
    <h1>Welcome to Local Motion</h1>
    <h3>Find the best ride sharing option nearest you</h3>
  <div id="get_started">
    <%= link_to "Use My Location", new_trip_path, {:class=>"button [secondary success alert]" } %>
  </div>
</div>
