
<div class="welcome">
  <div id="sign_up_button">
    <!-- <%= link_to "Get Started", "/auth/uber", {:class=>"button [secondary success alert]" } %> -->
    <%= link_to "Get Started", "/auth/uber", {:class=>"button [secondary success alert]" } %>

  </div>

</div>


<h5>This product uses the car2go API but is not endorsed or certified by car2go.</h3>
