<!--
<% if current_user %>
  <div id="get_started">
    <%= link_to "Use My Location", new_trip_path, {:class=>"button [secondary success alert]" } %>
<% else %>
  <h1>Welcome to Local Motion</h1>
  <h3>Find the best ride sharing option nearest you</h3>
  <%= link_to "Log in with UBER", '/auth/uber', {:class=>"button [secondary success alert]" } %>
<% end %> -->

<div id="bg">
  <div id="welcome-container">
    <div id="welcome-bg"></div>
    <div id="welcome">
      <h2>Find the best ride share options nearest you</h2>
      <%= link_to "Log in with UBER", '/auth/uber', {:class=>"button [secondary success alert]" } %>
    </div>
  </div>
</div>
