
<div class="welcome">
  <div id="sign_up_button">
    <!-- <a href="#" class="button [secondary success alert]">Get Started</a> -->
    <%= link_to "Sign in with UBER", "/auth/uber", {:class=>"button [secondary success alert]" } %>
  </div>
</div>
