
<div class="show_map">
  <div id="map-canvas"></div>
</div>

<div id="sidebar">
  <h1>Options</h1>
  <h3>UBER Time Est: <%= @uber_time %> MIN</h3>
  <h3>UBER Price Est: $<%= @uber_price %></h3>

</div>
