$bcycle_color: red;

.index_background {
  background: #333333;
  height: 100%;
  }

#sidebar {
  position: fixed;
  top: 45px;
  bottom: 0px;
  left: 66%;
  width: 34%;
  background: #2b313d;
}

#profile {
  height: 40.0%;
  background: #2b313d;
  padding: 20px;
  h5 { color: #9fc5e8; }
  text-align: center;
}

.profile_pic {
  height: 75px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.dest_input {
  color: #9fc5e8;
  font-size:1em;
  text-align: center;
  position: relative;
  height: 20px;
  margin-top:70px;
  outline: 0;
  border: 0;
  background: #3f454a;
  padding: 20px;
}

#bcycle {
  display: flex;
  align-items: center;
  height:20.0%;
  background: white;
  li { color: $bcycle_color;
       font-family: 'raleway', sans-serif;
       list-style-type: none;
       text-align: center;}
}

#car2go {
  // overflow: auto;
  display: flex;
  align-items: center;
  height:20.0%;
  background: #009be0;
  li { color: white;
       font-family: 'raleway', sans-serif;
       list-style-type: none;
       text-align: center;}

}

#uber {
  display: flex;
  align-items: center;
  height:20.0%;
  background: black;
  li { color: #c0c0c8;
       font-family: 'raleway', sans-serif;
       list-style-type: none;
       text-align: center;}
}

.bcycle_style {
  color: $bcycle_color;
  font-family: 'raleway', sans-serif; list-style-type: none;
  text-align: center;
}

.car2go_style {
  color: white;
  font-family: 'raleway', sans-serif; list-style-type: none;
  text-align: center;
}

.uber_style {
  color: #c0c0c8;
  font-family: 'raleway', sans-serif; list-style-type: none;
  text-align: center;
}

.bcycle_logo {
  width: 100%;
  height: 60px;
  // padding: 1em;
  // margin-left: 1em;
  background-image: image-url("b_cycle_logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.car2go_logo {
  width: 100%;
  height: 60px;
  // padding: 1em;
  // margin-left: 1em;
  background-image: image-url("car2go_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.uber_logo {
  width: 100%;
  height: 60px;
  // padding: 1em;
  // margin-left: 1em;
  background-image: image-url("uber_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#bcycle_price {
  // position: absolute;
  // margin-left: 2em;
  // text-align: center;
  // h1, h3 { color: #c41231; font-family: 'raleway', sans-serif; }

  flex: 1;
  text-align: center;
  h2, h3, { color: $bcycle_color; font-family: 'raleway', sans-serif; }
  h5 { color: $bcycle_color; font-family: 'raleway', sans-serif; }
}

#car2go_price {
  flex: 1;
  text-align: center;
  h2, h3, { color: white; font-family: 'raleway', sans-serif; }
  h5 { color: white; font-family: 'raleway', sans-serif; }
}

#car2go_price {
  flex: 1;
  text-align: center;
  h2, h3, { color: white; font-family: 'raleway', sans-serif; }
  h5 { color: white; font-family: 'raleway', sans-serif; }
}

#uber_price {
  flex: 1;
  text-align: center;
  h2, h3, { color: #c0c0c8; font-family: 'raleway', sans-serif; }
  h5 { color: #009be0; font-family: 'raleway', sans-serif; }
}

.service-logo a {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-logo img {
  width: 60px;
  height: 60px;
  margin-left: 1rem;
}

.service-time {
  color: #fff;
  // display: flex;
}

@media (max-width: 766px), (max-height: 600px) {
  .show_map {
    width: 100%;
    left: 100%;
    height: 70%;
  }
  #map-canvas {
    width: 155%;
  }
  // .car2go_logo {
  //   width: 100%;
  //   height: 100%;
  //   overflow:hidden;
  // }
  #sidebar {
    position: relative;
    float: left;
    margin-top: 100%;
    left: 0%;
    width: 100%;
    // min-width: 380px;
  }
}
