#sidebar {
  position: fixed;
  top: 45px;
  bottom: 0px;
  left: 66%;
  width: 34%;
  background: #073763;
}

#profile {
  height: 40.0%;
  background: #2b313d;
  padding: 20px;
  h5 { color: #9fc5e8; }
  text-align: center;
}

.profile_pic {
  height: 75px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.dest_input {
  color: #9fc5e8;
  font-size:1em;
  text-align: center;
  position: relative;
  height: 20px;
  margin-top:90px;
  outline: 0;
  border: 0;
  background: #3f454a;
  padding: 20px;
}

#bcycle {
  height: 20.0%;
  background: white;
  // vertical-align: middle;
}

#car2go {
  height: 20.0%;
  background: #009be0;
  // overflow: auto;
}

#uber {
  display: flex;
  align-items: center;
  height:20.0%;
  background: black;
  li { color: #c0c0c8; font-family: 'Syncopate', sans-serif; list-style-type: none;}
}

.uber_style {
  color: #c0c0c8;
  font-family: 'Syncopate', sans-serif; list-style-type: none;
}

// .b_cycle_logo {
//   width: 60px;
//   height: 60px;
//   border-radius: 50%;
//   // background-image: image-url("b_cycle_logo.jpg");
//   background-size: cover;
//   margin-left: 1em;
//   // margin-top: center;
//   // margin-bottom: 30px;
// }

.car2go_logo {
  width: 100%;
  height: 60px;
  // padding: 1em;
  // margin-left: 1em;
  background-image: image-url("car2go_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.uber_logo {
  width: 100%;
  height: 60px;
  // padding: 1em;
  // margin-left: 1em;
  background-image: image-url("uber_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#bcycle_price {
  position: absolute;
  margin-left: 2em;
  text-align: center;
  h1, h3 { color: #c41231; font-family: 'Syncopate', sans-serif; }
}

#uber_price {
  flex: 1;
  text-align: center;
  h2, h3, { color: #c0c0c8; font-family: 'Syncopate', sans-serif; }
  h5 { color: #009be0; font-family: 'Syncopate', sans-serif; }
}

.service-logo a {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-logo img {
  width: 60px;
  height: 60px;
  margin-left: 1rem;
}

.service-time {
  color: #fff;
  // display: flex;
}

@media (max-width: 766px) {
  .show_map {
    width: 100%;
    left: 100%;
    height: 70%;
  }
  #map-canvas {
    width: 155%;
  }
  .car2go_logo {
    width: 100%;
    height: 100%;
    overflow:hidden;
  }
  #sidebar {
    position:relative;
    float: left;
    margin-top: 70%;
    left: 0%;
    width: 100%;
    // min-width: 380px;
  }
}
